.user-list-item {
  padding: 10px;
  margin: 8px;
  background-color: blanchedalmond;
  border-radius: 5px;
  height: 300px;
}

.user-list-item:hover {
  background-color: bisque;
  cursor: pointer;
}

.user-photo {
  max-height: 100px;
}
