.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px 0px 20px 0px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(166, 203, 219);
  width: 300px;
  overflow-y: auto;
}

.form-container {
  margin: 20px;
}

.search-input {
  width: 200px;
  height: 20px;
  padding: 4px;
  margin-bottom: 10px;
  display: block;
  border-radius: 5px;
}

.search-button {
  padding: 8px;
  display: block;
  border-radius: 5px;
}

.search-button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
