.footer {
  width: 100%;
  height: 50px;
  vertical-align: middle;
  padding: 25px 0px 0px 0px;
  margin: 0px 0px 0px 300px;
  position: fixed;
  bottom: 0pt;
  background: rgb(223, 201, 201);
  color: #000000;
}
